test/integration/workflows/6_wait_webhook_resume.json
{
  "name": "Test: Wait Webhook Resume",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test/wait-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-main",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": ""
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {
          "httpMethod": "POST"
        }
      },
      "id": "wait-webhook",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [470, 300]
    },
    {
      "parameters": {
        "values": {
          "boolean": [
            {
              "name": "webhook_resumed",
              "value": true
            }
          ],
          "number": [],
          "string": [
            {
              "name": "execution_id",
              "value": "={{$execution.id}}"
            },
            {
              "name": "wait_mode",
              "value": "webhook"
            },
            {
              "name": "resumed_data",
              "value": "={{JSON.stringify($json)}}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "set-webhook",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [690, 300]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [910, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "id": "",
  "tags": [
    {
      "name": "integration-test"
    }
  ]
}
