generated_workflows/06_file_upload_template.json
{
  "name": "File Upload & Processing",
  "active": false,
  "version": 1.0,
  "nodes": [
    {
      "id": "1759505110811_38",
      "name": "Upload Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100.0,
        200.0
      ],
      "parameters": {
        "path": "files/upload",
        "method": "POST",
        "authentication": "none"
      }
    },
    {
      "id": "1759505110811_39",
      "name": "Extract File Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        350.0,
        200.0
      ],
      "parameters": {
        "functionCode": "const { filename, fileData, mimeType } = $input.item.json.body;\n\nreturn [{\n  json: {\n    filename,\n    fileData,\n    mimeType,\n    uploadedAt: new Date().toISOString()\n  }\n}];\n"
      }
    },
    {
      "id": "1759505110811_40",
      "name": "Upload to S3",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 1,
      "position": [
        600.0,
        200.0
      ],
      "parameters": {
        "operation": "upload",
        "bucketName": "my-app-uploads"
      },
      "credentials": {
        "aws": {
          "id": "credential_id",
          "name": "AWS"
        }
      }
    },
    {
      "id": "1759505110811_41",
      "name": "Save Metadata",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        850.0,
        200.0
      ],
      "parameters": {
        "operation": "insert",
        "table": "files"
      },
      "credentials": {
        "postgres": {
          "id": "credential_id",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "id": "1759505110811_42",
      "name": "Notify Team",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        1100.0,
        200.0
      ],
      "parameters": {
        "channel": "#uploads",
        "text": "New file uploaded: {{$json.filename}}"
      },
      "credentials": {
        "slackApi": {
          "id": "credential_id",
          "name": "Slack"
        }
      }
    },
    {
      "id": "1759505110811_43",
      "name": "Return Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1350.0,
        200.0
      ],
      "parameters": {
        "respondWith": "json",
        "responseCode": 200,
        "responseBody": {
          "message": "File uploaded successfully",
          "fileUrl": "={{$json.url}}"
        }
      }
    }
  ],
  "connections": {
    "Upload Webhook": {
      "main": [
        [
          {
            "node": "Extract File Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract File Data": {
      "main": [
        [
          {
            "node": "Upload to S3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to S3": {
      "main": [
        [
          {
            "node": "Save Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Metadata": {
      "main": [
        [
          {
            "node": "Notify Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Team": {
      "main": [
        [
          {
            "node": "Return Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionMode": "sequential",
    "timezone": "UTC"
  },
  "tags": [
    "file",
    "upload",
    "s3"
  ]
}