test/generated_workflows/crud_api.json
{
  "name": "USERS CRUD API",
  "active": false,
  "version": 1.0,
  "nodes": [
    {
      "id": "1760177471438_85",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100.0,
        200.0
      ],
      "parameters": {
        "path": "api/users/users",
        "method": "POST",
        "authentication": "none"
      }
    },
    {
      "id": "1760177471438_86",
      "name": "Route Request",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        350.0,
        200.0
      ],
      "parameters": {
        "functionCode": "const method = $input.item.json.headers['x-method'] || 'GET';\nconst id = $input.item.json.query?.id;\n\nreturn [{\n  json: {\n    method: method,\n    id: id,\n    body: $input.item.json.body\n  }\n}];\n"
      }
    },
    {
      "id": "1760177471438_87",
      "name": "Create users",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        600.0,
        200.0
      ],
      "parameters": {
        "operation": "insert",
        "table": "users"
      },
      "credentials": {
        "postgres": {
          "id": "credential_id",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "id": "1760177471438_88",
      "name": "Read users",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        100.0,
        300.0
      ],
      "parameters": {
        "operation": "select",
        "table": "users"
      },
      "credentials": {
        "postgres": {
          "id": "credential_id",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "id": "1760177471438_89",
      "name": "Update users",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        100.0,
        400.0
      ],
      "parameters": {
        "operation": "update",
        "table": "users"
      },
      "credentials": {
        "postgres": {
          "id": "credential_id",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "id": "1760177471438_90",
      "name": "Delete users",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        100.0,
        500.0
      ],
      "parameters": {
        "operation": "delete",
        "table": "users"
      },
      "credentials": {
        "postgres": {
          "id": "credential_id",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "id": "1760177471438_91",
      "name": "Send Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        100.0,
        600.0
      ],
      "parameters": {
        "respondWith": "json",
        "responseCode": 200
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Route Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Request": {
      "main": [
        [
          {
            "node": "Create users",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read users",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update users",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delete users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create users": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read users": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update users": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete users": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionMode": "sequential",
    "timezone": "UTC"
  },
  "tags": [
    "api",
    "crud",
    "database"
  ]
}