test/generated_workflows/multi_step_form.json
{
  "name": "Multi-Step Form Workflow",
  "active": false,
  "version": 1.0,
  "nodes": [
    {
      "id": "1760017168244_463",
      "name": "Start Form",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100.0,
        200.0
      ],
      "parameters": {
        "path": "form/start",
        "method": "POST",
        "authentication": "none"
      }
    },
    {
      "id": "1760017168244_464",
      "name": "Initialize Form",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        350.0,
        200.0
      ],
      "parameters": {
        "functionCode": "return [{\n  json: {\n    formId: 'FORM-' + Date.now(),\n    step1Data: $input.item.json.body\n  }\n}];\n"
      }
    },
    {
      "id": "1760017168244_465",
      "name": "Wait for Step 2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        600.0,
        200.0
      ],
      "parameters": {
        "resume": "webhook"
      }
    },
    {
      "id": "1760017168244_466",
      "name": "Process Step 2",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        850.0,
        200.0
      ],
      "parameters": {
        "functionCode": "return [{\n  json: {\n    ...$input.item.json,\n    step2Data: $input.item.json.body\n  }\n}];\n"
      }
    },
    {
      "id": "1760017168244_467",
      "name": "Wait for Step 3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1100.0,
        200.0
      ],
      "parameters": {
        "resume": "webhook"
      }
    },
    {
      "id": "1760017168244_468",
      "name": "Process Step 3",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1350.0,
        200.0
      ],
      "parameters": {
        "functionCode": "return [{\n  json: {\n    ...$input.item.json,\n    step3Data: $input.item.json.body,\n    completedAt: new Date().toISOString()\n  }\n}];\n"
      }
    },
    {
      "id": "1760017168244_469",
      "name": "Save Form Data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        1600.0,
        200.0
      ],
      "parameters": {
        "operation": "insert",
        "table": "forms"
      },
      "credentials": {
        "postgres": {
          "id": "credential_id",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "id": "1760017168244_470",
      "name": "Send Completion",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1850.0,
        200.0
      ],
      "parameters": {
        "respondWith": "json",
        "responseCode": 200,
        "responseBody": {
          "message": "Form completed successfully",
          "formId": "={{$json.formId}}"
        }
      }
    }
  ],
  "connections": {
    "Start Form": {
      "main": [
        [
          {
            "node": "Initialize Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Form": {
      "main": [
        [
          {
            "node": "Wait for Step 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Step 2": {
      "main": [
        [
          {
            "node": "Process Step 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Step 2": {
      "main": [
        [
          {
            "node": "Wait for Step 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Step 3": {
      "main": [
        [
          {
            "node": "Process Step 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Step 3": {
      "main": [
        [
          {
            "node": "Save Form Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Form Data": {
      "main": [
        [
          {
            "node": "Send Completion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionMode": "sequential",
    "timezone": "UTC"
  },
  "tags": [
    "form",
    "wait",
    "multi-step"
  ]
}