test/generated_workflows/webhook_logger.json
{
  "name": "Webhook Event Logger",
  "active": false,
  "version": 1.0,
  "nodes": [
    {
      "id": "1760177471484_640",
      "name": "Log Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100.0,
        200.0
      ],
      "parameters": {
        "path": "log",
        "method": "POST",
        "authentication": "none"
      }
    },
    {
      "id": "1760177471484_641",
      "name": "Format Log Entry",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        350.0,
        200.0
      ],
      "parameters": {
        "functionCode": "return [{\n  json: {\n    timestamp: new Date().toISOString(),\n    event: $input.item.json.body.event,\n    data: JSON.stringify($input.item.json.body),\n    source: $input.item.json.headers['x-source'] || 'unknown'\n  }\n}];\n"
      }
    },
    {
      "id": "1760177471484_642",
      "name": "Append to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        600.0,
        200.0
      ],
      "parameters": {
        "operation": "append",
        "spreadsheetId": "test-spreadsheet-id",
        "sheetName": "Logs"
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "credential_id",
          "name": "Google Sheets"
        }
      }
    },
    {
      "id": "1760177471484_643",
      "name": "Acknowledge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        850.0,
        200.0
      ],
      "parameters": {
        "respondWith": "json",
        "responseCode": 200,
        "responseBody": {
          "status": "logged"
        }
      }
    }
  ],
  "connections": {
    "Log Webhook": {
      "main": [
        [
          {
            "node": "Format Log Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Log Entry": {
      "main": [
        [
          {
            "node": "Append to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append to Sheet": {
      "main": [
        [
          {
            "node": "Acknowledge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionMode": "sequential",
    "timezone": "UTC"
  },
  "tags": [
    "logging",
    "google-sheets",
    "webhook"
  ]
}